1. time: epoch timestamp in second (in UTC time zone) â€“ indicates the day
2. high: highest BTC price of the day
3. low: lowest BTC price of the day
4. open: first BTC price of the day
5. close: last BTC price of the day
6. volumefrom: total volume (i.e., the total amount of currency exchanged) of the day in BTC
7. volumeto: total (i.e., the total amount of currency exchanged) volume of the day in USD

The data has been collected in daily between 28 April 2015 and 18 October 2020

There are 2001 days between the start and end dates. Our dataset also consists of 2001 samples, thus, each record represents a day.

In [1]:
import pandas as pd
import numpy as np
import time
import calendar
from datetime import datetime
from datetime import datetime
import csv

In [2]:
df = pd.read_csv('cryptocompare_btc.csv')

In [3]:
df.head()

         time    high     low    open   close  volumefrom     volumeto
0  1430179200  229.87  222.03  228.96  225.81    65971.19  14896418.52
1  1430265600  227.24  222.25  225.81  225.42    60889.41  13743340.35
2  1430352000  240.01  224.68  225.42  235.77   112238.62  26242196.77
3  1430438400  239.42  232.38  235.77  233.21    60139.08  14178420.18
4  1430524800  236.38  231.73  233.21  235.34    37075.60   8703582.59

In [4]:
df.dtypes

time            int64
high          float64
low           float64
open          float64
close         float64
volumefrom    float64
volumeto      float64
dtype: object

In [5]:
seconds_per_day = 24 * 60 * 60

In [6]:
# my_timestamp = 0 + 30 * seconds_per_day
my_timestamp = 1545730073

In [7]:
dt = datetime.fromtimestamp(my_timestamp)

In [8]:
print(dt)

2018-12-25 09:27:53

In [9]:
type(dt)

datetime.datetime

In [10]:
datetime.timestamp(dt)

1545730073.0

In [11]:
data = []
with open("cryptocompare_btc.csv", "r") as f:
    reader = csv.DictReader(f)
    data = [r for r in reader]

In [12]:
type(data)

list

In [13]:
data[0]

{'time': '1430179200',
 'high': '229.87',
 'low': '222.03',
 'open': '228.96',
 'close': '225.81',
 'volumefrom': '65971.19',
 'volumeto': '14896418.52'}

In [14]:
def date_to_timestamp(input_date: str):
    return calendar.timegm(time.strptime(input_date, "%d/%m/%Y"))

In [15]:
start_date = "01/01/2016"
end_date = "31/01/2016"

In [16]:
start_timestamp = date_to_timestamp(start_date)
end_timestamp = date_to_timestamp(end_date)

In [17]:
print(start_timestamp, end_timestamp)

1451606400 1454198400

In [30]:
df['dt'] = pd.to_datetime(df['time'], unit='s')

In [31]:
df.head()

,time,high,low,open,close,volumefrom,volumeto,dt
0,1430179200,229.87,222.03,228.96,225.81,65971.19,14896418.52,2015-04-28
1,1430265600,227.24,222.25,225.81,225.42,60889.41,13743340.35,2015-04-29
2,1430352000,240.01,224.68,225.42,235.77,112238.62,26242196.77,2015-04-30
3,1430438400,239.42,232.38,235.77,233.21,60139.08,14178420.18,2015-05-01
4,1430524800,236.38,231.73,233.21,235.34,37075.60,8703582.59,2015-05-02

In [32]:
df.dtypes

time                   int64
high                 float64
low                  float64
open                 float64
close                float64
volumefrom           float64
volumeto             float64
dt            datetime64[ns]
dtype: object

In [33]:
start_date

'01/01/2016'

In [36]:
focus_df = df[df['dt'].between("2016-01-01", "2016-01-31")]

In [38]:
focus_df.head()

,time,high,low,open,close,volumefrom,volumeto,dt
248,1451606400,437.95,425.86,429.95,433.99,46973.12,20334286.58,2016-01-01
249,1451692800,437.43,430.73,433.99,433.72,33570.39,14566820.95,2016-01-02
250,1451779200,434.14,423.09,433.72,430.70,54826.26,23490162.61,2016-01-03
251,1451865600,435.26,428.60,430.70,433.32,53007.87,22943968.22,2016-01-04
252,1451952000,435.25,428.87,433.32,431.20,45029.87,19499588.99,2016-01-05

In [39]:
focus_df['volumefrom'].max()

268141.73

In [40]:
focus_df['volumeto'].max()

107060613.4